Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/ThirdPerson
/Content/Characters
/Content/__ExternalObjects__/ThirdPerson
/Content/__ExternalActors__/ThirdPerson
